h1 {font-family: 'Chicle', cursive; font-size: 300%;}

h2 {font-family: 'Open Sans', sans-serif;}

h3 {font-family: 'Open Sans', sans-serif; color:white;}

p {font-family: 'Open Sans', sans-serif; color:white;}

ol {font-family: 'Open Sans', sans-serif; color:white;}
	
.footer {

	font-family:  'Open Sans', sans-serif;
	text-align: center;
	color: #2c4f87
	
}
	
/*Title Link*/

a.top:link {color:#000000;text-decoration:none;}
a.top:visited {color:#000000;text-decoration:none;}
a.top:hover {color:#000000;text-decoration:none;}

/*Fancy Button*/

.button {
  display: inline-block;
  border-radius: 25px;
  background-color: #0b7279;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*Slide Show*/

img {
	height: 300px;
	border-radius: 25px;
}

.IxoSlide {
	display:none;
	
}

section {
	margin-left: 25%;
	
}

.rightslidebut {
	background-color: #F9931E;
	padding: 10px;
	border-radius: 25px;
	margin: 20px;
	border: none;
	cursor: pointer;
	
}

.leftslidebut {
	background-color: #F9931E;
	padding: 10px;
	border-radius: 25px;
	margin: 20px;
	margin-left: 50px;
	border: none;
	cursor: pointer;
}