h1 {font-family: 'Chicle', cursive; font-size: 300%;}

h2 {font-family: 'Open Sans', sans-serif;}

ol {font-family: 'Open Sans', sans-serif;}

.footer {

	font-family:  'Open Sans', sans-serif;
	text-align: center;
	color: #2c4f87;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	}

a.top:link {color:#000000;text-decoration:none;}
a.top:visited {color:#000000;text-decoration:none;}
a.top:hover {color:#000000;text-decoration:none;}

.column {
  float: left;
  width: 47%;
  padding: 15px;
  color: white;
	}

.button {
  display: inline-block;
  border-radius: 25px;
  background-color: #0b7279;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Hover Contents / Search */

.contents {
  height: 30%;
  border-radius: 25px;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #085b78;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20%;
  padding-bottom: 20%;
}

.contents a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  font-family:  'Open Sans', sans-serif;
  display: block;
  transition: 0.3s;
  
}

.contents a:hover {
  color: #f1f1f1;
  z-index: 1;
  
}

.contents .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 1;
  
}

@media screen and (max-height: 450px) {
  .contents {padding-top: 15px;}
  .contents a {font-size: 18px;}
}

/* Contents Button */

.float{
	position:fixed;

	bottom:45px;
	left:10px;
	background-color:#085b78;
	color:#FFF;
	border-radius:50px;
	
}

